@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&family=Poppins:ital,wght@0,700;1,300;1,400;1,800;1,900&family=Work+Sans:ital,wght@1,900&display=swap');
*{


}
body{
    background-color:white;
}
footer{
    background-color: black;
}

@media (max-width: 576px) {
    #navbarScroll{
        background-color: darkgrey;
    }
    
    #search{
        display: none !important;
    }
    
    body{
        color: black;
    }
    
    nav{
        margin-top: 10px;
        border-color: black!important;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px grey;
        border-style: solid;
        display: flex;;
        
        
    }
    .navbar-brand{
        margin-left: 5px;
    }
    nav .nav{
        color:black;
    
    }
    .nav-link{
        color: black;
        margin-left: 12px;
        
    }
    .ho{
        margin-left: 10px;
    }
    .customize{
        display: none;
    }
    .ab{
        color: black;
    }
    
    .nav-item{
        
        text-align: center !important;
    
    }
    .navbar-toggler{
        background-color:black;
        color: aliceblue;
        width: fit-content;
    }
    .navbar-toggler-icon{
        display: flex;
        color: white;
        width: fit-content;
        border-radius: 10px;
        padding: 3px;
    }
    .navbar-toggler-icon span {
        background-color:white;
        height: 3px; 
        width: 25px;
        display: flex;
        margin-top: 5px; 
    }
    .front img{
        margin-left:0;
        margin-right:0;
        width: 100%;
        display: block;
        height: 100%;
    }
    
    .top{
        margin-left: 2px;
        position: relative;
    }
    .front h1{
        position: absolute;
        color: white;
        font-size:18px;
        font-family: 'Work Sans', sans-serif;
        top:45%;
        left:3%;
    }
    .front .step{
        top:65%;
        left:3%;
    }
    
    .front h3{
        position: absolute;
        color: white;
        top:64%;
        left:2%;
        font-size: x-small;
        
    }
    .front a{
        text-decoration: none;
        color: black;
        font-size:x-small;
    }
    .front .shop{
        top:78%;
        margin-bottom: 2px;
        left:3%;
        margin-top:3px;


    }
    
    .front button{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 150px;
        top:88%;
        margin-bottom: 1330px;
    }
    .fe{
        text-align: center;
    }
    .f1 .btn{
        background-color: grey;
        border-radius: 10px;
    }
    .fi a{
        text-decoration: none;
        
    }
    .f1 a{
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .f1 img{
        margin-left: 10px;
        width: 200%;
        height: 250px;
    }
    
    .fit{
        display: none;
        
    }
    .f1 .btn1{
        display: none;
        margin-left:10px;
        margin-top: 10px;
    
    
    }

    .fi2{
        margin-top: 430px;
        margin-left: -210px;
        width: 200%;
    }
    .f2 img{
        margin-left: -210px;
    }
    .fi2 img{
        display: flex;
        margin-left: 0;

    }
    .f2 .s{
        display: none;
    }
    .versair{
        display:none;
    }
    #videoCarousel{
        margin-left: 30px;
        margin-top: 10px;
    }
    .pop img {
        border-radius: 10px;
        margin-top: 2px;
        border-color: black;
        
    }

    .right .pop img{
        height:100%;
        width: 100%;
        justify-content: left;
        margin-right: 200px;
        transition: transform 0.3s ease-in-out;
        

    }
    .pop h3,h4{
        background-color: aqua;
        display: none;
    }
    .head1{
        color: gray;
    }
    
    .foot{
        color: white;
    }
    footer{
        margin-right: none;
        width: 100%;
    }
    footer .social{
        padding: 20px;
    }
    footer h6{
        color: white;
        margin-left:-280px ;
    }
    .text{
        color: grey;
        text-align: center;
   }
    .end{
        margin-left: 145px;
        margin-top: 55px;
    }
    .mid{
        text-align: center;
        margin-top: 55px;
        margin-left:145px ;
    }
    .srt{
        margin-left: 150px;
        
   
}
}

@media (min-width: 577px) and (max-width: 768px) {
    body{
        color: black;
    }
    
    nav{
        margin-top: 10px;
        border-color: black!important;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px grey;
        border-style: solid;
        
        
    }
    .navbar-brand{
        margin-left: 2px;
    }
    
    nav .nav{
        color:black;
    
    }
    .nav-link{
        color: black;
        margin-left: 12px;
        
    }
    .ho{
        margin-left: 10px;
    }
    .customize{
        display: none;
    }
    .ab{
        color: black;
    }
    
    .nav-item{
        
        text-align: center !important;
    
    }
    .button{
        position:absolute;
    }
    .search{
        display: none;
        
    }
    .front img{
        margin-left: 5px;
        margin-right: 20px;
        width: 100%;
        display: block;
        height: 100%;
    }
    
    .top{
        margin-left: 5px;
        position: relative;
    }
    .front h1{
        position: absolute;
        color: white;
        font-size:36px;
        font-family: 'Work Sans', sans-serif;
        top:42%;
        left:3%;
    }
    
    .front h3{
        position: absolute;
        color: white;
        top:69%;
        left:6%;
        font-size: medium;
    }
    .front a{
        text-decoration: none;
        color: black;
        font-size:x-large;
    }
    
    .front button{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 150px;
        top:83%;
        margin-bottom: 1330px;
    }
    .f1{
        margin-left:0;
        position: relative;
    }
    .featured{
        margin-left: 14px;
    }
    .f2{
        margin-left: -140px;
    }
    .f1 img {
        width: 80%;
    }
    .f2 img{
        display: flex;
        width:80%;
        height: 100%;

}
    .retro{
        position: absolute;
        color: white;
        top:70%;
        left:16%;
        text-align: left;
    }
    .featured .btn{
        position: absolute;
        background-color: grey;
        left:16%;
        border-radius: 20px;
        width: 120px;
        top:105%;
        margin-bottom: 1330px;   
    }
    .featured .btn a{
        color: black;
    }
    .ver img{
        margin-left: 130px;
      }
    .versair{
        position: absolute;
        top:56%;
        text-align:left;
        left:36%;
        color:white;
    }
    .ver .btn{
        position: absolute;
        background-color: grey;
        left:34%;
        border-radius: 20px;
        width: 120px;
        top:105%;
        margin-bottom: 1330px;
    }

    .carousel-item{
        position: relative;
        margin-left: 50px;  
         
    }
    .right .pop img{
        height:100%;
        width: 120%;
        justify-content: left;
        margin-right: 200px;
        transition: transform 0.3s ease-in-out;

    }
    .pop{
        margin-right: 50px;  
        width: 25%;
    }
    .pop img:hover{
        transform: scale(1.1);
    }
    .pop{
        text-align: left;
    }
    .pop3{
       
    }
    .pop h4{
        color: grey;
        margin-left: 10px;
    }
    .foot{
        color: white;
    }
    footer{
        margin-right: none;
        width: 100%;
    }
    footer .social{
        padding: 20px;
    }
    footer h6{
        color: white;
    }
    .text{
        color: grey;
    }
    .end{
        margin-left:50px;
        text-align: justify;
    }
    .mid{
        margin-left: 100px;
    }
    .srt{
        margin-left: 50px;
    }
    
}

@media (min-width: 769px) and (max-width: 992px) {
    body{
        color: black;
    }
    
    nav{
        margin-top: 10px;
        border-color: black!important;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px grey;
        border-style: solid;
        
        
    }
    .navbar-brand{
        margin-left: 2px;
    }
    
    nav .nav{
        color:black;
    
    }
    .nav-link{
        color: black;
        margin-left: 1px;
        
    }
    .ho{
        margin-left: 10px;
    }
    .ab{
        color: black;
    }
    
    .nav-item{
        
        text-align: center !important;
    
    }
    .button{
        position:absolute;
    }
    .search{
        display: none;
        border-radius: 10px;
    }
    .front img{
        margin-left: 50px;
        margin-right: 50px;
        width: 100%;
        display: block;
        height: 100%;
    }
    .top{
        margin-left: 5px;
        position: relative;
    }
    .front h1{
        position: absolute;
        color: white;
        font-size:xx-small;
        font-family: 'Work Sans', sans-serif;
        margin-left: 1px;
    }
    
    .front h3{
        
        position: absolute;
        color: white;
        top:72%;
        left:4%;
        font-size: xx-small;
    }
    .remove{
        display: none;
    }
    .front a{
        text-decoration: none;
        color: black;
        font-size:x-large;
    }
    
    .front button{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 150px;
        top:88%;
        margin-bottom: 1330px;
    }
    .f1{
        margin-left:35px;
        position: relative;
    }
    .featured{
        margin-left: 44px;
    }
    .f2{
        margin-left: -120px;
    }
    .f1 img {
        width: 100%;
    }
    .f2 img{
        display: flex;
        width:100%;
        height: 100%;

}
    .retro{
        position: absolute;
        color: white;
        top:70%;
        left:6%;
        text-align: left;
    }
    .featured .btn{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 120px;
        top:88%;
        margin-bottom: 1330px;   
    }
    .featured .btn a{
        color: black;
    }
    .ver img{
        margin-left: 130px;
      }
    .versair{
        position: absolute;
        top:56%;
        text-align:left;
        left:34%;
        color:white;
    }
    .ver .btn{
        position: absolute;
        background-color: white;
        left:34%;
        border-radius: 20px;
        width: 120px;
        top:90%;
        margin-bottom: 1330px;
    }

    .carousel-item{
        position: relative;
        margin-left: 50px;  
         
    }
    .right .pop img{
        height:100%;
        width: 120%;
        justify-content: left;
        margin-right: 200px;
        transition: transform 0.3s ease-in-out;

    }
    .pop{
        margin-right: 50px;   
    }
    .pop img:hover{
        transform: scale(1.1);
    }
    .pop{
        text-align: left;
    }
    .pop h4{
        color: grey;
        margin-left: 10px;
    }
    .foot{
        color: white;
    }
    footer{
        margin-right: none;
        width: 100%;
    }
    footer .social{
        padding: 20px;
    }
    footer h6{
        color: white;
    }
    .text{
        color: grey;
    }
    .end{
        margin-left: 100px;
    }
    .mid{
        margin-left: 100px;
    }
    .srt{
        margin-left: 150px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    body{
        color: black;
    }
    
    nav{
        margin-top: 10px;
        border-color: black!important;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px grey;
        border-style: solid;
        
        
    }
    .navbar-brand{
        margin-left: 5px;
    }
    
    nav .nav{
        color:black;
    
    }
    .nav-link{
        color: black;
        margin-left: 1px;
        
    }
    .ho{
        margin-left: 120px;
    }
    .ab{
        color: black;
    }
    
    .nav-item{
        
        text-align: center !important;
    
    }
    .button{
        position:absolute;
    }
    .search{
        border-radius: 10px;
    }
    .front img{
        margin-left: 50px;
        margin-right: 50px;
        width: 92%;
        display: block;
        height: 100%;
    }
    .top{
        margin-left: 5px;
        position: relative;
    }
    .front h1{
        position: absolute;
        color: white;
        font-size:45px;
        font-family: 'Work Sans', sans-serif;
        top:50%;
        left:6%;
    }
    .front h1:hover{
        transition: transform 0.3s ease-in-out;
    }
    .front h3{
        position: absolute;
        color: white;
        top:72%;
        left:7%;
    }
    .front a{
        text-decoration: none;
        color: black;
        font-size:x-large;
    }
    
    .front button{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 150px;
        top:88%;
        margin-bottom: 1330px;
    }
    .f1{
        margin-left:30px;
        position: relative;
    }
    .featured{
        margin-left: 30px;
    }
    .f2{
        margin-left: -180px;
    }
    .f1 img {
        width: 80%;
    }
    .f2 img{
        display: flex;
        width:80%;
        height: 100%;

}
    .retro{
        position: absolute;
        color: white;
        top:70%;
        left:13%;
        text-align: left;
    }
    .featured .btn{
        position: absolute;
        background-color: white;
        left:13%;
        border-radius: 20px;
        width: 120px;
        top:88%;
        margin-bottom: 1330px;   
    }
    .featured .btn a{
        color: black;
    }
    .ver img{
        margin-left: 120px;
      }
    .versair{
        position: absolute;
        top:56%;
        text-align:left;
        left:34%;
        color:white;
    }
    .ver .btn{
        position: absolute;
        background-color: white;
        left:34%;
        border-radius: 20px;
        width: 120px;
        top:90%;
        margin-bottom: 1330px;
    }

    .carousel-item{
        position: relative;
        margin-left: 50px;  
         
    }
    .right .pop img{
        height:100%;
        width: 120%;
        justify-content: left;
        margin-right: 200px;
        transition: transform 0.3s ease-in-out;

    }
    .pop{
        margin-right: 50px;   
    }
    .pop img:hover{
        transform: scale(1.1);
    }
    .pop{
        text-align: left;
    }
    .pop h4{
        color: grey;
        margin-left: 10px;
    }
    .foot{
        color: white;
    }
    footer{
        margin-right: none;
        width: 100%;
    }
    footer .social{
        padding: 20px;
    }
    footer h6{
        color: white;
    }
    .text{
        color: grey;
    }
    .end{
        margin-left: 100px;
    }
    .mid{
        margin-left: 100px;
    }
    .srt{
        margin-left: 150px;
    }
}

@media (min-width: 1201px) {
    body{
        color: black;
    }
    
    nav{
        margin-top: 10px;
        border-color: black!important;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px grey;
        border-style: solid;
        
        
    }
    .navbar-brand{
        margin-left: 10px;
    }
    
    nav .nav{
        color:black;
    
    }
    .nav-link{
        color: black;
        margin-left: 30px;
        
    }
    .ho{
        margin-left: 120px;
    }
    .ab{
        color: black;
    }
    
    .nav-item{
        
        text-align: center !important;
    
    }
    .button{
        position:absolute;
    }
    .search{
        border-radius: 10px;
    }
    .front img{
        margin-left: 50px;
        margin-right: 50px;
        width: 92%;
        display: block;
        height: 100%;
    }
    .top{
        margin-left: 5px;
        position: relative;
    }
    .front h1{
        position: absolute;
        color: white;
        font-size:60px;
        font-family: 'Work Sans', sans-serif;
        top:50%;
        left:5%;
    }
    .front h1:hover{
        
    }
    .front h3{
        position: absolute;
        color: white;
        top:75%;
        left:5%;
    }
    .front a{
        text-decoration: none;
        color: black;
        font-size:x-large;
    }
    
    .front button{
        position: absolute;
        background-color: white;
        left:6%;
        border-radius: 20px;
        width: 150px;
        top:90%;
        margin-bottom: 1330px;
    }
    .featured{
        margin-left: 50px;
        position: relative;
    }
    .featured img{
        width:110%;
        height: 100%;

}
    .retro{
        position: absolute;
        color: white;
        top:75%;
        left:4%;
        text-align: left;
    }
    .featured .btn{
        position: absolute;
        background-color: white;
        left:4%;
        border-radius: 20px;
        width: 120px;
        top:90%;
        margin-bottom: 1330px;   
    }
    .featured .btn a{
        color: black;
    }
    .ver img{
        margin-left: 130px;
      }
    .versair{
        position: absolute;
        top:70%;
        text-align:left;
        left:32%;
        color:white;
    }
    .ver .btn{
        position: absolute;
        background-color: white;
        left:30%;
        border-radius: 20px;
        width: 120px;
        top:90%;
        margin-bottom: 1330px;
    }

    .carousel-item{
        position: relative;
        margin-left: 50px;  
         
    }
    .right .pop img{
        height:100%;
        width: 120%;
        justify-content: left;
        margin-right: 200px;
        transition: transform 0.3s ease-in-out;

    }
    .pop{
        margin-right: 50px;   
    }
    .pop img:hover{
        transform: scale(1.1);
    }
    .pop{
        text-align: left;
    }
    .pop h4{
        color: grey;
        margin-left: 10px;
    }
    .foot{
        color: white;
    }
    footer{
        margin-right: none;
        width: 100%;
    }
    footer .social{
        padding: 20px;
    }
    footer h6{
        color: white;
    }
    .text{
        color: grey;
    }
    .end{
        margin-left: 100px;
    }
    .mid{
        margin-left: 100px;
    }
    .srt{
        margin-left: 150px;
    }

}
